
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
     <link rel="stylesheet" href={{url_for('static',filename='styles.css')}}>
    <h1>User login</h1>
</head>
<body style="padding-top:60px;background-color:lightgray;">
<form action="http://127.0.0.1:5000/Homepage" method="post">
    <div class="div2">
        <div class="div1">
            <label class="l1">Username</label>
            <input class="txt1"  id="user" type="text" name="uname">
        </div>
        <div class="div1">
            <label class="l1">Password</label>
            <input class="txt1" id="pass" style="margin-left:6px;" type="password" name="passw">
        </div>
        <div class="div1" >
            <button type="submit" class="b1">Submit</button>
        </div>
    </div>
    {% if error1 %}
        <p class="p1">{{error1}}</p>
    {% endif %}
</form>

</body>
</html>
